/* ---------------------------------------------------
Uncomment for file -   53.document.Write.js 
code {
  background-color: #f5f5f5 !important;
  padding: .5rem;
  width: fit-content;
  box-shadow: 0px 0px 3px #aaa;
  color: red;
}
*/

/* ---------------------------------------------------
Uncomment for file -   54.ChangingExistingElements.js 
body {
  font-family: Arial, Helvetica, sans-serif
}
.special {
  color: green;
  font-weight: bold;
}
#main-box,
#empty-box {
  box-shadow: 0px 0px 5px #666;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  min-height: 50px;
}
#empty-box {
  background-color: lightgreen;
}
.note {
  color: red;
}
*/

